.passwordContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.passwordContainer p {
  margin: 0;
}
.passwordContainer .inputContainer {
  width: 95%;
  max-width: 400px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;

  align-self: center;
  margin-top: auto;
  margin-bottom: auto;

  box-shadow: 0 0 5px 0 gainsboro;
  border: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
}
.passwordContainer .buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.passwordContainer .containerDescription {
  font-weight: 500;
  margin-bottom: 20px;
}

.passwordContainer input[type="password"] {
  border-radius: 8px;
  border: 0;
  height: 45px;
  border: 2px solid gainsboro;
  padding-left: 10px;
  margin-top: 5px;
}

.passwordContainer .forgotPassword {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
}
.passwordContainer .formButton {
  min-height: 45px;
  border-radius: 8px;
  background-color: var(--primaryBlue);
  color: #fff;
  border: unset;
  cursor: pointer;

  /* margin-top: 20px; */
}
.passwordContainer .buttonsContainer button:last-child {
  background-color: #121212;
  color: #fff;
  /* margin-top: 20px; */
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
