.confirm-action-content {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 95%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
.confirm-action-content .confirm-action-header {
  text-align: center;
  margin-bottom: 20px;
}

.confirm-action-content .confirm-action-message {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
}

.confirm-action-content .confirm-action-button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
