.userBalanceContainer {
  text-align: center;
  margin-top: 40px;
}
.userBalanceContainer p,
.userBalanceContainer h1 {
  margin: 0;
  font-size: 15px;
}
.userBalanceContainer p {
  text-transform: uppercase;
}
.userBalanceContainer h1 {
  font-weight: 400;
  font-size: 35px;
}
