.receiveQrPage .confirmTxAnimation {
  width: 95%;
  height: auto;
  max-width: 250px;
}
.receiveQrPage .contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.receiveQrPage .contentContainer .paymentStatus {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.receiveQrPage .contentContainer .errorText {
  width: 95%;
  text-align: center;
}
.receiveQrPage .contentContainer .errorMessageTextContainer {
  width: 95%;
  border-radius: 8px;
  background-color: white;
  max-width: 300px;
  min-height: 100px;
  padding: 10px;
  margin: 10px;
}
.receiveQrPage .contentContainer .amountText {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.receiveQrPage .contentContainer .continueBTN {
  background-color: var(--primaryBlue);
  color: white;
  margin-top: auto;
}
