#myProfilePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: scroll;
}

#myProfilePageContainer .pageNavbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#myProfilePageContainer .pageNavbar .settingsIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#myProfilePageContainer .profileImageBackground {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 20px;
}
#myProfilePageContainer .scanProfileImageContianer {
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 20px;
  bottom: -5px;
}
#myProfilePageContainer .scanProfileImageContianer img {
  width: 50%;
  height: 50%;
}
#myProfilePageContainer .uniqueNameText {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 0;
}
#myProfilePageContainer .nameText {
  margin: 0;
}
#myProfilePageContainer .bioContainer {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  vertical-align: top;
  margin: 0;
  min-height: 60px;
  max-height: 100px;
  margin-top: 30px;
  overflow-y: scroll;
}
#myProfilePageContainer .bioContainer p {
  margin: 0;
}

#myProfilePageContainer .noTxText {
  text-align: center;
}
