.loginComponenet {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginComponenet h1 {
  margin-top: auto;
  color: var(--primaryBlue);
  font-size: min(100px, 35vw);
  margin-bottom: 50px;
}
.loginComponenet .buttonContainer {
  width: 95%;
  max-width: 300px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}
.loginComponenet .buttonContainer .actionButton {
  width: 100%;
  max-width: unset;
}

.loginComponenet .buttonContainer .actionButton p {
  font-size: 1rem;
}
.loginComponenet .buttonContainer button:first-child {
  margin-bottom: 20px;
  background-color: var(--primaryBlue);
}
.loginComponenet p {
  font-size: 12px;
  text-align: center;
  margin: 0;
}
