.passwordContainer {
  display: flex;
  flex-direction: column;
}
.passwordContainer p {
  margin: 0;
}
.passwordContainer .inputContainer {
  width: 95%;
  max-width: 400px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;

  align-self: center;
  margin-top: auto;
  margin-bottom: auto;

  box-shadow: 0 0 5px 0 gainsboro;
  border: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
}
.passwordContainer .containerDescription {
  font-weight: 600;
}
.passwordContainer .topText {
  margin-bottom: 20px;
}

.passwordContainer input[type="password"] {
  border-radius: 8px;
  border: 0;
  border: 2px solid gainsboro;
  padding-left: 10px;
}
.passwordContainer .initialPass {
  margin-bottom: 20px;
}
.passwordContainer button {
  background-color: var(--primaryBlue);
  color: #fff;
  margin-top: 20px;
}
