.settingsContentIndexContianer .navbarText {
  text-transform: capitalize;
}

.settingsContentIndexContianer .settingsContentIndex {
  width: 95%;
  margin: 0 auto;
  flex: 1;
  overflow-y: scroll;
}
