.settingsPage {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.settingsPage .contentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.settingsPage .settingsItemGroupContainer .settingsItemGroupHeader {
  font-size: 1.2rem;
  margin: 0;
}
.settingsPage .settingsItemGroupContainer .settingsItemContainer {
  display: flex;
  align-items: center;
  width: 97%;
  cursor: pointer;
  margin: 10px auto;
}
.settingsPage
  .settingsItemGroupContainer
  .settingsItemContainer
  .settingsItemImage {
  width: 20px;
  height: 20px;
}
.settingsPage
  .settingsItemGroupContainer
  .settingsItemContainer
  .settingsItemName {
  margin-left: 8px;
  margin-right: auto;
}
.settingsPage
  .settingsItemGroupContainer
  .settingsItemContainer
  .settingsItemChevron {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
