.sendContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sendContainer .decodeInvoiceLoadingText {
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.sendContainer .paymentInfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendContainer .paymentInfoContainer .balanceContainer {
  width: 100%;
  overflow-x: scroll;
  font-weight: 400;
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
  text-wrap-mode: nowrap;
}
.sendContainer .paymentInfoContainer .paymentFeeDesc {
  margin-top: 30px;
  margin-bottom: 0;
}
.sendContainer .paymentInfoContainer .paymentFeeVal {
  margin-top: 0;
  margin-bottom: 30px;
}
.sendContainer .paymentInfoContainer button {
  width: 100%;
  max-width: 200px;
  margin-top: auto;
}

.sendContainer .navBar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.sendContainer .navBar img {
  height: 30px;
  width: 30px;
}
.sendContainer .navBar .label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sendContainer .navBar .label img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.sendContainer .navBar .label p {
  font-size: 20px;
  margin: 0;
}
.sendContainer .customTextInputContinaerStyles {
  margin-top: auto;
}
.sendContainer .custon-keyboard-styles {
  width: 100%;
}
