.camera-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.camera-page .backContainer {
  position: absolute;
  width: 95%;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 99;
}
.camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.camera-overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qr-vertical-buttons {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto 20px;
  flex: 1;
}

.icon {
  width: 30px;
  height: 30px;
}

.middle-row {
  display: flex;
  width: 100%;
  height: 250px;
}

.overlay {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.qr-box-outline {
  width: 250px;
  height: 250px;
  border: 3px solid var(--primaryBlue);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-controls {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.paste-btn {
  border: 1px solid white;

  background: transparent;
  color: white;
  margin-top: 10px;
}

#video-container {
  line-height: 0;
}

#video-container.example-style-2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#video-container.example-style-2 .scan-region-highlight {
  border-radius: 30px;
  outline: rgba(0, 0, 0, 0.75) solid 50vmax;
  border: 3px solid red;
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100dvw * 0.8);
  height: calc(100dvw * 0.8);
  max-width: 450px;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#video-container.example-style-2 .scan-region-highlight p {
  text-align: center;
  margin: 0;
  line-height: 40px;
}
.camera-page .handleCameraPaste {
  position: absolute;
  top: calc(
    50% + min(calc(100dvw * 0.8), 450px) / 2 + 10px
  ); /* Below the 250px scan box */
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 95%;
  max-width: 150px;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
}
.camera-page .flashLightContainer {
  position: absolute;
  top: calc(
    50% - min(calc(100dvw * 0.8), 450px) / 2 - 41px
  ); /* Below the 250px scan box */
  left: calc(50% + min(calc(100dvw * 0.8), 450px) / 2 - 41px);
  transform: translateX(-50%);
  z-index: 99;

  cursor: pointer;
}
.camera-page input[type="file"] {
  display: none;
}
.camera-page .fileContainer {
  position: absolute;
  top: calc(
    50% - min(calc(100dvw * 0.8), 450px) / 2 - 41px
  ); /* Below the 250px scan box */
  left: calc(50% - min(calc(100dvw * 0.8), 450px) / 2 + 41px);
  transform: translateX(-50%);
  z-index: 99;

  cursor: pointer;
}
.camera-page .fileContainer img {
  width: 30px;
  height: 30px;
}
.camera-page .flashLightContainer img {
  width: 30px;
  height: 30px;
}
.camera-page .handleCameraPasteText {
  color: white !important;
}
#video-container.example-style-2 .code-outline-highlight {
  stroke: rgba(255, 255, 255, 0.5) !important;
  stroke-width: 15 !important;
  stroke-dasharray: none !important;
}

#flash-toggle {
  display: none;
}

hr {
  margin-top: 32px;
}
input[type="file"] {
  display: block;
  margin-bottom: 16px;
}
