.cameraContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.cameraContainer .contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.cameraContainer .contentContainer .scanContianer {
  width: 95%;
  height: auto;
  max-width: 500px;
  min-height: 300px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.cameraContainer .videoElement {
  border-radius: 8px;
}
