.seedContainer {
  width: 100%;
  height: 100%;
}
.seedContainer .contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 30px);
}

.seedContainer .headerInfoText {
  margin-top: 20px;
  text-align: center;
  max-width: 300px;
}
.seedContainer .firstWarningText {
  text-align: center;
  margin: 0;
  max-width: 322px;
}
.seedContainer .secondWarningText {
  text-transform: uppercase;
  font-weight: 800;
  max-width: 310px;
  text-align: center;
  margin: 0;
}
.seedContainer .buttonsContainer {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.seedContainer .buttonsContainer button:first-child {
  background-color: var(--primaryBlue);
  color: #fff;
}
