#activityIndicator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  margin: 20px auto; /* center it */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
