.pageNavBar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.pageNavBar .pageHeaderText {
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
