.pageNavBar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
.pageNavBar .pageHeaderText {
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
@media screen and (max-width: 400px) {
  .pageNavBar .pageHeaderText {
    font-size: 20px;
  }
}
