.disclaimerContainer {
  display: flex;
  flex-direction: column;
}
.disclaimerContainer h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.disclaimerContentContainer {
  height: calc(100% - 30px);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}
.disclaimerContainer .recoveryText {
  max-width: 400px;
  margin: 0 auto;
}
.disclaimerContainer img {
  width: 95%;
  max-width: 400px;
  margin: auto auto 0 auto;
}
.disclaimerContainer .quoteText {
  margin-bottom: auto;
  max-width: 300px;
  margin: 0 auto 20px;
}
.disclaimerContainer button {
  background-color: var(--primaryBlue);
  color: #fff;
  width: 150px;
  margin: 0 auto;
}

.disclaimerContainer a {
  color: #121212;
  opacity: 0.7;
  margin-top: 5px;
  font-size: 15px;
}
