.disclaimerContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.disclaimerContainer h1 {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.disclaimerContentContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}
.disclaimerContainer .recoveryText {
  max-width: 320px;
  margin: 0 auto;
  font-size: 16px;
}
.disclaimerContainer .imgContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disclaimerContainer img {
  width: 95%;
  max-width: 400px;
}
.disclaimerContainer .quoteText {
  margin-bottom: auto;
  max-width: 300px;
  margin: 0 auto 20px;
  font-size: 16px;
}
.disclaimerContainer button {
  background-color: var(--primaryBlue);
  margin: 0 auto;
  max-width: 155px;
}

.disclaimerContainer a {
  color: #121212;
  opacity: 0.7;
  margin-top: 5px;
  font-size: 15px;
}

@media screen and (max-width: 300px) {
  .disclaimerContainer h1 {
    font-size: 30px;
  }
}
