.sendAndRequstContainer {
  width: 150px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 50px auto 40px;
}
.sendAndRequstContainer .buttonContainer {
  width: 55px;
  height: 55px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sendAndRequstContainer .buttonImage {
  width: 30px;
  height: 30px;
}
.sendAndRequstContainer .buttonWhite {
  background-color: #fff;
}
.sendAndRequstContainer .buttonBlue {
  background-color: var(--primaryBlue);
}

.sendAndRequstContainer .send {
  transform: rotate(90deg);
}
.sendAndRequstContainer .request {
  transform: rotate(-90deg);
}
