.transactionContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.transactionContainer .noTxText {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  max-width: 300px;
}

.transactionContainer .transaction {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.transactionContainer .transaction img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.transactionContainer .transaction p {
  margin: 0;
}
.transactionContainer .transaction .textContainer {
  margin-right: auto;
}
.transactionContainer .transaction .dateText {
  font-weight: 300;
  font-size: 14px;
}
.transactionContainer .transaction .amountText {
  align-self: flex-start;
}
.transactionContainer .viewAllTxText {
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}
