.transactionContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.transactionContainer .dateBannerText {
  margin: 10px 0 5px;
  text-align: center;
}
.transactionContainer .noTxText {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  max-width: 300px;
}

.transactionContainer .transaction {
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
}
.transactionContainer .transaction img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.transactionContainer .transaction p {
  margin: 0;
}
.transactionContainer .transaction .textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  flex-grow: 1;
  min-width: 0;
}

.transactionContainer .descriptionText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  flex-shrink: 1;
}
.transactionContainer .transaction .dateText {
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  flex-shrink: 1;
}
.transactionContainer .transaction .amountText {
  align-self: flex-start;
}
.transactionContainer .viewAllTxText {
  text-align: center;
  cursor: pointer;
  margin: 10px 0;
}
